# GitHub token dengan akses repo (untuk commit APK & versions.json)
GITHUB_TOKEN=

# Vercel Neon DB connection string
DATABASE_URL=

# Admin key untuk upload APK
MODERATION_SECRET=

# YouTube (opsional, untuk integrasi nanti)
# YOUTUBE_API_KEY=
